services:

    setup:
      image: laravelfans/laravel:9-dev
      volumes:
        - '.:/var/www/laravel'
      entrypoint:
      - "/bin/sh"
      - -ecx
      - |
          composer install
          php artisan key:generate

    mariadb:
      image: bitnami/mariadb:latest
      restart: always
      environment:
        - ALLOW_EMPTY_PASSWORD=yes
        - MARIADB_USER=${DB_USERNAME}
        - MARIADB_PASSWORD=${DB_PASSWORD}
        - MARIADB_DATABASE=${DB_DATABASE}
      ports:
        - "3306"

    myapp:
      image: laravelfans/laravel:9-dev
      restart: always
      ports:
        - "8000:80"
      volumes:
        - '.:/var/www/laravel'
      depends_on:
        setup:
          condition: service_completed_successfully
        mariadb:
          condition: service_started
      env_file:
        .env

networks:
  default:
